body{
    color: #333;
    font-family: "Roboto", sans-serif;
}
img{
    max-width: 100%;
    max-height: auto;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
/*    color: $mainBlack;*/
    text-decoration: none;
}
li{
    list-style-type: none;
}
.clearfix{
    content: "";
    clear: both;
}
.primary-nav{
    background-color: #000;
    line-height: 40px;
    text-align: center;
}
@media(min-width: 768px){
    }
@media(min-width: 992px){
.primary-nav{
        line-height: 50px;
        padding-left: 30px
}
    }
.primary-nav a{
        color: #FFF;
    }
@media(min-width: 992px){
.primary-nav__pull-right{
            float: right   
    }
    }
.primary-nav li{
        display: block;
    }
@media(min-width: 992px){
.primary-nav li{
            float: left;
            padding-right: 50px;
            font-size: 15px;
            letter-spacing: 1.5px
    }
            .primary-nav li a{
                color: #FFF;
            }
    }
/*@import "modules/__wrapper";*/
.slider{
    position: relative;
    text-align: center;
}
.slider img{
        width: 100%;
    }
.slider__overlay{
        position: absolute;
        top: 0;
        top: 87%;
        left: 50%;
        transform: translate(-50%);
    }
.slider__overlay h3{
            font-size: 25px;
            color: #FFF;
            letter-spacing: 1.5px;
        }
.slider__overlay p{
            color: #FFF;
            padding-top: 10px;
        }
.the-band{
    padding-top: 80px;
    padding-bottom: 80px;
}
.the-band__wrapper{
        width: 800px;
        margin: 0 auto;
    }
.the-band__title h2{
            color: #000;
        }
.the-band__title p{
            text-align: center;
            font-style: italic;
            padding: 20px 0;
            color: #666;
        }
.the-band__para p{
            font-size: 15px;
            text-align: justify;
            color: #000;
            font-weight: 400;
            line-height: 23px;
        }
.the-band__members{
        padding-top: 80px;
/*        padding-left: 80px;*/
/*        padding-right: 60px;*/
    }
/*        width: 100%;*/
/*            padding-right: 80px;*/
.the-band__members__member h4{
                text-align: center;
                padding-bottom: 15px;
                font-weight: 400;
            }
.the-band__members__member img{
                border-radius: 5px;
                display: block;
            }
.the-band__members:last-child{
/*        padding-right: 0;*/
    }
.title{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.8px;
}
.row__gutters {
        margin-right: -65px;
    }
.row__gutters-small {
        margin-right: 15px;
    }
@media(min-width: 768px){
        .row__gutters-small {
/*            margin-right: 20px;*/
        }
    }
.row__gutters-large {
        margin-right: 5px;
    }
@media(min-width: 400px){
        .row__col-md-2 {
            float: left;
            width: 31.90%;
        }
    }
@media(min-width: 768px){
        .row__col-md-2 {
            float: left;
            width: 32%;
        }
    }
@media(min-width: 992px){
        .row__col-md-4 {
            float: left;
            width: 33%;
        }

        .row__col-md-2 {
            float: left;
            width: 32.1%;
        }
    }
.tours {

    background-color: #000;
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 80px;
}
@media(min-width: 400px){
.tours__wrapper {
            width: 680px;
            margin: 0 auto
    }
    }
@media(min-width: 768px){
.tours__wrapper {
            width: 780px;
            margin: 0 auto
    }
    }
@media(min-width: 992px){
.tours__wrapper {
            width: 800px;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px
    }
    }
.tours__title {
        width: 100%;
    }
.tours__title p {
            text-align: center;
            font-style: italic;
            padding: 20px 0;
            color: #666;
        }
.tours__months {
        width: 100%;
        margin: 30px 0;
    }
.tours__months__month {
            width: 100%;
            background-color: #FFF;
            color: #666;
            padding: 10px 15px;
            border-bottom: solid 1px #CCC;

        }
.tours__months__month p {
                display: inline-block;
                font-size: 15px;
            }
.tours__months__month span {
                margin-left: 30px;
                padding: 2px 8px;
                background-color: #F44336;
                color: #FFF;
                font-size: 15px;
            }
.tours .tickets__ticket__image-holder {
                position: relative;
                overflow: hidden;
            }
.tours .tickets__ticket__image-holder img{
                    transition: all 0.3s;
                }
.tours .tickets__ticket__image-holder:hover img {
                    transform: scale(1.2);
                }
.tours .tickets__ticket__content {
                background-color: #FFF;
                color: #000;
                padding: 20px;
            }
.tours .tickets__ticket__content h4 {
                    padding-bottom: 15px;
                }
.tours .tickets__ticket__content span {
                    display: inline-block;
                    padding-bottom: 15px;
                    color: #888;
                }
.tours .tickets__ticket__content p {
                    line-height: 1.4;
                }
.tours .tours__wrapper .month__available {
    background-color: #000;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
}
.button {
    background-color: #000;
    color: #FFF;
    padding: 10px 13px;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.3s;
}
.button:hover {
        background-color: #CCC;
        color: #000;
    }
/*@import "modules/__overlay";*/