body{
    color: #333;
    font-family: "Roboto", sans-serif;
}
img{
    max-width: 100%;
    max-height: auto;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
/*    color: $mainBlack;*/
    text-decoration: none;
}
li{
    list-style-type: none;
}
.clearfix{
    content: "";
    clear: both;
}