.button {
    background-color: $mainBlack;
    color: #FFF;
    padding: 10px 13px;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.3s;

    &:hover {
        background-color: #CCC;
        color: $mainBlack;
    }
}
