.primary-nav{
    background-color: $mainBlack;
    line-height: 40px;
    text-align: center;
    @mixin atSmall{
        
    }
    @mixin atMedium{
        line-height: 50px;
        padding-left: 30px;
    }
    a{
        color: #FFF;
    }
    
    &__pull-right{
        @mixin atMedium{
            float: right;
        }   
    }
    li{
        display: block;
        @mixin atMedium{
            float: left;
            padding-right: 50px;
            font-size: 15px;
            letter-spacing: 1.5px;
            a{
                color: #FFF;
            }
        }
    }
}