.row {
    &__gutters {
        margin-right: -65px;
    }

    &__gutters-small {
        margin-right: 15px;
    }

    @mixin atSmall {
        &__gutters-small {
/*            margin-right: 20px;*/
        }
    }

    &__gutters-large {
        margin-right: 5px;
    }
    @mixin atSmaller{
        &__col-md-2 {
            float: left;
            width: 31.90%;
        }
    }
    @mixin atSmall {
        &__col-md-2 {
            float: left;
            width: 32%;
        }
    }


    @mixin atMedium {
        &__col-md-4 {
            float: left;
            width: 33%;
        }

        &__col-md-2 {
            float: left;
            width: 32.1%;
        }
    }

}
