.slider{
    position: relative;
    text-align: center;
    img{
        width: 100%;
    }
    &__overlay{
        position: absolute;
        top: 0;
        top: 87%;
        left: 50%;
        transform: translate(-50%);
        
        h3{
            font-size: 25px;
            color: #FFF;
            letter-spacing: 1.5px;
        }
        p{
            color: #FFF;
            padding-top: 10px;
        }
    }
}