.the-band{
    padding-top: 80px;
    padding-bottom: 80px;
    &__wrapper{
        width: 800px;
        margin: 0 auto;
    }
    &__title{
        h2{
            color: $mainBlack;
        }
        p{
            text-align: center;
            font-style: italic;
            padding: 20px 0;
            color: #666;
        }
    }
    &__para{
        p{
            font-size: 15px;
            text-align: justify;
            color: $mainBlack;
            font-weight: 400;
            line-height: 23px;
        }
    }
    &__members{
        padding-top: 80px;
/*        padding-left: 80px;*/
/*        padding-right: 60px;*/
/*        width: 100%;*/
        
        &__member{
/*            padding-right: 80px;*/
            
            h4{
                text-align: center;
                padding-bottom: 15px;
                font-weight: 400;
            }
            img{
                border-radius: 5px;
                display: block;
            }
        }
    }
    &__members:last-child{
/*        padding-right: 0;*/
    }
}