.tours {

    background-color: $mainBlack;
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 80px;

    &__wrapper {

        @mixin atSmaller {
            width: 680px;
            margin: 0 auto;
        }

        @mixin atSmall {
            width: 780px;
            margin: 0 auto;
        }

        @mixin atMedium {
            width: 800px;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__title {
        width: 100%;

        p {
            text-align: center;
            font-style: italic;
            padding: 20px 0;
            color: #666;
        }
    }

    &__months {
        width: 100%;
        margin: 30px 0;

        &__month {
            width: 100%;
            background-color: #FFF;
            color: #666;
            padding: 10px 15px;
            border-bottom: solid 1px #CCC;

            p {
                display: inline-block;
                font-size: 15px;
            }

            span {
                margin-left: 30px;
                padding: 2px 8px;
                background-color: #F44336;
                color: #FFF;
                font-size: 15px;
            }

        }
    }

    .tickets {
        &__ticket {
            
            &__image-holder {
                position: relative;
                overflow: hidden;
                img{
                    transition: all 0.3s;
                }

                &:hover img {
                    transform: scale(1.2);
                }
            }


            &__content {
                background-color: #FFF;
                color: $mainBlack;
                padding: 20px;

                h4 {
                    padding-bottom: 15px;
                }

                span {
                    display: inline-block;
                    padding-bottom: 15px;
                    color: #888;
                }

                p {
                    line-height: 1.4;
                }
            }
        }
    }
}

.tours .tours__wrapper .month__available {
    background-color: $mainBlack;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
}
